@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: rgb(134, 20, 20);
  color: #fff;
}

main {
  display: flex;
  margin-left: 95px;
  padding: 0px 10px;
}

section {
  flex: 70%;
  background-color: #fff;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: rgb(134, 20, 20);
  color: #fff;
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
